django
django-filter
django-phonenumber-field[phonenumbers]
djangorestframework 
django-debug-toolbar
django-cors-headers
redis
celery
cmake
dlib
face-recognition
opencv-python
ffmpeg
ffmpeg-python
numpy
pytz
whitenoise
# mysqlclient
mysql-connector-python
