
<div class="contact-card" role="button" >
        <a href="http://localhost:3000/contacts/<%= name %>-<%=phno%>" class="clickable">
        <div class="row h-100">
            <div class="col-3 d-flex align-items-center justify-content-center">
            <div class="profile d-flex align-items-center justify-content-center">A</div>
        </div>
        <div class="col-7 mt-3">
            <p class="contact-name"><%= name %></p>
            <p class="contact-phno"><%= phno %></p>
        </div>
        <div class="col-2 d-flex align-items-center">
            <img src="assets/expand-arrow.png" alt="expand-arrow">
        </div>
    </div>
</a>
</div>