<%- include("templates/header") %>
<div class="d-flex justify-content-center">
  <div class="entire-content-holder">
    <div class="row">
      <div class="col-3 d-flex">
        <div class="filter-section">
          <p class="filter-title">Filters</p>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <form action="" method="post">
            <p class="dashboard-title">Call logs</p>
            <input
              type="text"
              name="text"
              id=""
              placeholder="Search numbers,names and much more..."
            />
          </form>
        </div>
        <div class="row">
          <div class="main-section">
            <div class="row">
              <div
                class="col-6 content-wrapper d-flex flex-column align-items-center mt-5"
              >
              <% for(let i=0; i<phnos.length; i++) { %>
                <% var iconLetter = "";%>
                <% if(typeof(names[i]) === "string") { %>
                    <% iconLetter = names[i].charAt(0) %>
                  <% }else{ %>
                    <% iconLetter = "Unk" %>
                    <%}%>
                <%- include('templates/contactCard', {name:names[i], phno:phnos[i], iconLetter : iconLetter}) %>
              <% } %>
              </div>
              <div class="col-6 d-flex align-items-center justify-content-center">
                <div class="calllog-wrapper d-flex align-items-center justify-content-center">
                  <div class="inner-wrapper">
                    <p class="heading">History</p>
                    <% for(let i=0; i<call_type.length; i++) { %>
                      <%- include("templates/callLogDetails", {call_type: call_type[i], duration: durations[i], date: date[i], time: time[i]}) %>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
