<%- include("templates/header") %>
<div class="d-flex justify-content-center">
  <div class="entire-content-holder">
    <div class="row">
      <div class="col-3 d-flex">
        <div class="filter-section">
          <p class="filter-title">Filters</p>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <form action="" method="post">
            <p class="dashboard-title">SMS</p>
            <input
              type="text"
              name="text"
              id=""
              placeholder="Search numbers,names and much more..."
            />
          </form>
        </div>
        <div class="row">
          <div class="main-section">
            <div class="row">
              <div
                class="col-6 content-wrapper d-flex flex-column align-items-center mt-5"
              >
              <% for(let i=0; i<addresses.length; i++) { %>
                <% var iconLetter = "";%>
                <% if(typeof(addresses[i]) === "string") { %>
                    <% iconLetter = addresses[i].charAt(0) %>
                  <% }else{ %>
                    <% iconLetter = "Unk" %>
                    <%}%>
                <%- include('templates/smsCard', {name:addresses[i], phno:truncatedMessages[i], iconLetter : iconLetter}) %>
              <% } %>
              </div>
              <div class="col-6 d-flex align-items-center justify-content-center">
                <div class="calllog-wrapper d-flex align-items-center justify-content-center">
                  <div class="inner-wrapper">
                    <p class="heading">SMS LOGS</p>
                      <%for(let i=0; i<smsType.length; i++) { %>
                        <%- include("templates/smsMessageView", {message: smsMessages[i], smsType: smsType[i]})%>
                      <%}%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
